<div id="windowBody">
    <button id="openChatButton" class="open-chat-btn">Open Chat</button>

    <div class="container justify-content-center">
        <div class="row floating-window">
            <div class="window-header row m-0 mb-1 pb-1">
                <h4 class="col-sm-10 mb-0">ChatBot</h4>
                <button id="closeButton" class="col-sm-2 text-right mb-0">X</button>
            </div>
            <div class="row  m-0 mb-2 " id="message-container">
                <ul id="discussion" class="list-group bg-white"></ul>
            </div>
            <div class="row mb-2 m-0 ">
                <form onsubmit="return false" class="m-0 p-0" style="width:100%">
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <textarea id="chatbody" name="Contents" class="" placeholder="Input to talk with bot"></textarea>

                    </div>
                    <button type="submit" class="btn btn-primary pt-2 mt-2" id="sendmessage">Add to List</button>
                </form>
            </div>

        </div>
    </div>
</div>

